/* Content Title */
.article-title,
.article-title-xs {
  font-weight: 500;
}

.article-title {
  font-size: 12px !important;
}

.article-title-xs {
  font-size: 10px !important;
}

/* Content Body */
/* .article-body,
.article-body-inactive,
.article-body-explanation {
  font-size: 11px !important;
  line-height: 16px !important;
}

.article-body,
.article-body-explanation {
  color: #212121;
}

.article-body-inactive {
  color: grey;
} */

/* Content Title */
/* .contentTitleCard {
  margin-top: 95px;
  margin-bottom: 25px;
} */

.contentTitle {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 14px !important;
}

/* .contentSubTitle {
  font-size: 12px;
  font-weight: 400;
  line-height: 140% !important;
} */

.contentText {
  font-size: 14px;
  font-weight: 400;
}

/* Our Service Card */
/* .expCard {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: rgba(76, 76, 76, 1) !important;
}

.expCardSubTitle {
  font-size: 1.5rem !important;
  font-weight: 500 !important;
  line-height: 140%;
} */

/* Timeline */
/* .timelinetitle,
.timelinetitle-xs {
  font-weight: 600;
  color: #313de3;
}
.timelinetitle {
  font-size: 14px !important;
}
.timelinetitle-xs {
  font-size: 12px !important;
}
.timelineBody {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 130% !important;
} */

.section-title {
  font-weight: 700;
  font-size: 3.8rem;
}

.section-title-xs {
  font-weight: 700;
  font-size: 2rem;
}

.section-subtitle,
.content-text {
  font-size: 1.3rem;
  text-align: center;
  color: #555555;
}

.section-subtitle-xs,
.content-text-xs {
  font-size: 0.8rem;
  text-align: center;
  color: #555555;
}

.content-subtitle {
  font-size: 1.3rem;
}

.common-pl {
  padding-left: 5%;
}

.main-color {
  color: #3746fb;
}
